<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flappydoraemon"
    android:versionCode="19"
    android:versionName="1.99" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />
     

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"> >
        
        
        <activity
            android:name="com.flappydoraemon.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Game"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.flappydoraemon.Game" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
       
        
    </application>

</manifest>
		